.stats-card{
background:#101d34;
padding:25px;
border-radius:18px;
box-shadow:0 0 15px rgba(0,0,0,.2);
}

.stats-card h4{
color:#9fb5c9;
margin-bottom:12px;
}

.stats-card h1{
font-size:38px;
margin-bottom:10px;
}

.stats-card p{
color:#7b92a9;
}