.navbar{

height:80px;

background:#101d34;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid rgba(255,255,255,.08);

}

.profile{

display:flex;

align-items:center;

}

.circle{

width:45px;

height:45px;

border-radius:50%;

background:#00E5FF;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

color:black;

font-size:20px;

}
